Repository skkuse/2020spring_41class_team9, pull requests merged in 2020-06, with the labels that each got.

#3 add docker support
  .github/workflows/docker-publish.yml
  DOCKER.md
  Dockerfile
  README.md
  src/MODU/settings.py
  src/README.md
Labels: docker, documentation, enhancement

#13 Model/comment
  src/moduComment/__init__.py
  src/moduComment/admin.py
  src/moduComment/apps.py
  src/moduComment/migrations/__init__.py
  src/moduComment/models.py
  src/moduComment/tests.py
  src/moduComment/views.py
  src/moduProject/__init__.py
  src/moduProject/admin.py
  src/moduProject/apps.py
  src/moduProject/migrations/__init__.py
  src/moduProject/models.py
  src/moduProject/tests.py
  src/moduProject/views.py
Labels: comment, documentation, enhancement

#11 Model/project
  src/moduComment/__init__.py
  src/moduComment/admin.py
  src/moduComment/apps.py
  src/moduComment/migrations/__init__.py
  src/moduComment/models.py
  src/moduComment/tests.py
  src/moduComment/views.py
  src/moduProject/__init__.py
  src/moduProject/admin.py
  src/moduProject/apps.py
  src/moduProject/migrations/__init__.py
  src/moduProject/models.py
  src/moduProject/tests.py
  src/moduProject/views.py
Labels: documentation, enhancement, project

#8 Model/developer
  manage.py
  moduDeveloper/__init__.py
  moduDeveloper/admin.py
  moduDeveloper/apps.py
  moduDeveloper/migrations/__init__.py
  moduDeveloper/models.py
  moduDeveloper/tests.py
  moduDeveloper/urls.py
  moduDeveloper/validators.py
  moduDeveloper/views.py
Labels: developer, documentation, enhancement

#19 first commit on information_view for developer and project
  src/information_view/__init__.py
  src/information_view/admin.py
  src/information_view/apps.py
  src/information_view/migrations/__init__.py
  src/information_view/models.py
  src/information_view/tests.py
  src/information_view/views.py
Labels: developer, documentation, enhancement, project
